@media (prefers-color-scheme: dark) {
    @import "~bootstrap/scss/functions";

    $body-bg: #212529; // gray-900; background color
    $body-color: #f8f9fa; // gray-100; foreground color
    $link-color: #6ea8fe; // blue-300; link color
    $link-shade-percentage: -20%; // Lighten instead of darken
    $gray-400: #6c757d; // gray-600; select border
    $gray-800: #e9ecef; // gray-200; select dropdown

    @import "main";
}
