// https://getbootstrap.com/docs/5.3/customize/sass/#importing
@import "bootstrap/scss/functions";

$color-mode-type: media-query;

@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/close";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/helpers/position";

@import "bootstrap/scss/utilities/api";

// Everything in this file is relevant, so exclude it from purging
/* purgecss start ignore */
html {
    // All of our main styles assume a full-width container.
    // For example, we lay out the 4 cards based on a percentage of the max-width.
    // However, vw doesn't take the width of the scrollbar into account!
    // This means that when a lot of solutions exist (enough to necessitate a scrollbar),
    // the card grid styling breaks and we instead get 3 cards on the first row,
    // and an unwanted second row with just one card.
    // We can fix this by setting scrollbar-gutter to `stable` to _always_ reserve space for the scrollbar, even when it isn't present.
    // That subtly adds a bit more whitespace to the right of the page, so also specify `both-edges` to balance it out.
    scrollbar-gutter: stable both-edges;
}

@media (prefers-reduced-motion: no-preference) {
    $duration: 0.5s;
    $timing: ease-in-out;

    body {
        transition: color $duration $timing, background-color $duration $timing;
    }

    .form-select {
        // Interestingly, `color` doesn't seem to transition until everything else finishes.
        // That makes it stand out much more than if we don't transition it.
        transition: background-color $duration $timing, border-color $duration $timing;
    }

    .card * {
        transition: fill $duration $timing, stroke $duration $timing;
    }
}

a {
    text-decoration: none;
}

.btn:disabled {
    pointer-events: auto;
    cursor: not-allowed;
}

.card-background {
    fill: var(--bs-body-bg);
    stroke: var(--bs-body-color);
}

// Styles used to be through selectors like `.card.heart .suit`,
// but at some point browsers implemented stronger shadow boundaries
// that break the descendant combinators.
// To get styles working around that, define the suit colors directly,
// then reference those colors without the outer `.card.*` selector.
.card {
    &.clubs, &.spades {
        --suit-color: var(--bs-body-color);
    }

    &.hearts, &.diamonds {
        --suit-color: #{$red};
    }
}

.suit {
    fill: var(--suit-color);
}

.rank {
    stroke: var(--suit-color);
}

.face-background {
    fill: var(--bs-body-bg);
    stroke: $blue;
}

.face-accent-gold {
    fill: $yellow;
}

.face-accent-red {
    fill: $red;
}

.face-accent-blue {
    fill: $blue;
}

.face-accent-face {
    fill: $blue;
}

.face-accent-black {
    fill: var(--bs-body-color);
}

.face-stroke {
    stroke: $blue;
}

@include color-mode(dark) {
    :root {
        --bs-body-color: var(--bs-gray-100);
        --bs-toast-header-color: var(--bs-body-color);
    }

    .face-background {
        stroke: var(--bs-body-color);
    }

    .face-accent-face {
        fill: var(--bs-body-color);
    }

    .face-stroke {
        stroke: var(--bs-body-color);
    }
}
/* purgecss end ignore */
