// https://getbootstrap.com/docs/5.3/customize/sass/#importing
@import "bootstrap/scss/functions";

$color-mode-type: media-query;

@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/close";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/helpers/position";

@import "bootstrap/scss/utilities/api";

// Everything in this file is relevant, so exclude it from purging
/* purgecss start ignore */
@media (prefers-reduced-motion: no-preference) {
    $duration: 0.5s;
    $timing: ease-in-out;

    body {
        transition: color $duration $timing, background-color $duration $timing;
    }

    .form-select {
        // Interestingly, adding color here makes that transition twice as long.
        // Maybe because it's already specified in the body transition?
        // But then why doesn't it also happen to background-color?
        transition: background-color $duration $timing, border-color $duration $timing;
    }

    .card * {
        transition: fill $duration $timing, stroke $duration $timing;
    }
}

a {
    text-decoration: none;
}

.btn:disabled {
    pointer-events: auto;
    cursor: not-allowed;
}

.card-background {
    fill: white;
    stroke: black;
}

.card {
    &.clubs, &.spades {
        .suit {
            fill: black;
        }

        .rank {
            stroke: black;
        }
    }

    &.hearts, &.diamonds {
        .suit {
            fill: red;
        }

        .rank {
            stroke: red;
        }
    }
}

@include color-mode(dark) {
    .card-background {
        fill: $gray-800;
        stroke: black;
    }

    .card {
        &.clubs, &.spades {
            .suit {
                fill: $gray-100;
            }

            .rank {
                stroke: $gray-100;
            }
        }

        &.hearts, &.diamonds {
            .suit {
                fill: $red-400;
            }

            .rank {
                stroke: $red-400;
            }
        }
    }
}
/* purgecss end ignore */
