// https://getbootstrap.com/docs/5.3/customize/sass/#importing
@import "bootstrap/scss/functions";

$color-mode-type: media-query;

@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/close";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/helpers/position";

@import "bootstrap/scss/utilities/api";

// Everything in this file is relevant, so exclude it from purging
/* purgecss start ignore */
@media (prefers-reduced-motion: no-preference) {
    $duration: 0.5s;
    $timing: ease-in-out;

    body {
        transition: color $duration $timing, background-color $duration $timing;
    }

    .form-select {
        // Interestingly, `color` doesn't seem to transition until everything else finishes.
        // That makes it stand out much more than if we don't transition it.
        transition: background-color $duration $timing, border-color $duration $timing;
    }

    .card * {
        transition: fill $duration $timing, stroke $duration $timing;
    }
}

a {
    text-decoration: none;
}

.btn:disabled {
    pointer-events: auto;
    cursor: not-allowed;
}

.card-background {
    fill: var(--bs-body-bg);
    stroke: var(--bs-body-color);
}

.card {
    &.clubs, &.spades {
        .suit {
            fill: var(--bs-body-color);
        }

        .rank {
            stroke: var(--bs-body-color);
        }
    }

    &.hearts, &.diamonds {
        .suit {
            fill: $red;
        }

        .rank {
            stroke: $red;
        }
    }

    .face-background {
        fill: var(--bs-body-bg);
        stroke: $blue;
    }

    .face-accent-gold {
        fill: $yellow;
    }

    .face-accent-red {
        fill: $red;
    }

    .face-accent-blue {
        fill: $blue;
    }

    .face-accent-face {
        fill: $blue;
    }

    .face-accent-black {
        fill: var(--bs-body-color);
        // fill: black;
    }

    .face-stroke {
        stroke: $blue;
    }
}

@include color-mode(dark) {
    :root {
        --bs-body-color: var(--bs-gray-100);
    }

    .card {
        &.hearts, &.diamonds {
            .suit {
                fill: $red-400;
            }

            .rank {
                stroke: $red-400;
            }
        }

        .face-background {
            fill: var(--bs-body-bg);
            // fill: var(--bs-body-color);
            // stroke: $blue-400;
            stroke: var(--bs-body-color);
        }

        // .face-accent-gold {
        //     fill: $yellow-400;
        // }

        .face-accent-red {
            fill: $red-400;
        }

        .face-accent-blue {
            fill: $blue-400;
            // fill: var(--bs-body-color);
        }

        .face-accent-face {
            fill: var(--bs-body-color);
        }

        .face-accent-black {
            fill: var(--bs-body-color);
            // fill: var(--bs-body-bg);
        }

        .face-stroke {
            // stroke: $blue-400;
            stroke: var(--bs-body-color);
        }
    }
}
/* purgecss end ignore */
